@import url(http://fonts.googleapis.com/css?family=Fanwood+Text);

* {
  font-family: 'Fanwood Text', serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  margin: 0.7em 0;
  font-size: 2em;
}

a {
  display: inline-block;
  position: absolute;
  right: 0;
  color: #808080;
  text-decoration: none;
  font-size: 0.6em;
  font-weight: 400;
}

a:hover {
  color: #009999;
}

header {
  width: 100%;
  border-bottom: 1px solid #808080;
  margin-bottom: 3em;
  position: relative;
}

